mixin pagination()
  div(class="mt-4")
    nav(aria-label="Page navigation example")
      ul.pagination.justify-content-center(pagination)
        - for(let i = 1; i <= pagination.totalPage; i++)
          li.page-item
            a.page-link(href="javascript:;" page=i button-pagination) #{i}